<!-- <div *ngFor="let product of productDetails">
    <span>{{product.productType}}</span>
    <span>{{product.price}}</span>
    <span>{{product.productDescription}}</span>
</div> -->

<div class="content" role="main">

    <div class="card-container">
      <div class="card" *ngFor="let product of productDetails" [ngStyle]="{'background-color': product.color}" >
        <div class="card-info" [ngClass]="{'blur-card': product.disable }">
            <div>{{product.productType}}</div>
            <div class="cost">{{product.price}}</div>
            <div class="message">{{product.productDescription}}</div>
            <div class="button-container">
                <button class="button-class" (click)="changeButtonStatus(product, productDetails)" type="button">{{product.buttonStatus}}</button>
            </div>
        </div>
    </div>
    </div>
  
  </div>